/* Body and general styles */
body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #121212;
  color: #ffffff;
  animation: fadeIn 1s ease-in-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

/* Header styles */
header {
  background-color: #1f1f1f;
  color: #fff;
  padding: 0.5rem 1rem;
  display: flex;
  align-items: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
  position: sticky;
  top: 0;
  z-index: 2;
  animation: slideInFromTop 1s ease-in-out;
}

@keyframes slideInFromTop {
  from {
    transform: translateY(-100%);
  }

  to {
    transform: translateY(0);
  }
}

.header-content {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
}

/* Logo styles */
#logo {
  height: 40px;
  cursor: pointer;
}

/* Search container styles */
.search-container {
  position: relative;
  flex-grow: 1;
  margin-left: 1rem;
  max-width: 300px;
  transition: max-width 0.3s ease;
}

.search-container:focus-within {
  max-width: 350px;
}

.search-container::before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: -2px;
  height: 2px;
  background-color: #3a3a3a;
  transition: transform 0.3s ease;
  transform: scaleX(0);
}

.search-container:focus-within::before {
  transform: scaleX(1);
}

/* Search input styles */
#searchInput {
  width: 100%;
  padding: 0.5rem;
  font-size: 1rem;
  border: none;
  border-radius: 4px;
  background-color: #2c2c2c;
  color: #fff;
  outline: none;
  box-sizing: border-box;
  transition: background-color 0.3s ease;
}

#searchInput::placeholder {
  color: #888;
}

#searchInput:focus {
  background-color: #3a3a3a;
}

/* Dropdown (filter) styles */
.dropdown {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background-color: #2c2c2c;
  border-radius: 0 0 4px 4px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
  padding: 0.5rem;
  z-index: 1;
}

.dropdown select {
  width: 100%;
  padding: 0.5rem;
  font-size: 1rem;
  border: none;
  border-radius: 4px;
  background-color: #3a3a3a;
  color: #fff;
  margin-bottom: 0.5rem;
  transition: background-color 0.3s ease;
}

.dropdown select:focus {
  background-color: #444;
}

/* Game gallery styles */
#gameGallery {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 1rem;
  padding: 1rem;
  max-width: 1200px;
  margin: 0 auto;
}

/* Game card styles */
.game-card {
  background-color: #1f1f1f;
  border: 1px solid #333;
  border-radius: 8px;
  padding: 0;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
  transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
  overflow: hidden;
  cursor: pointer;
  margin-bottom: 10px;
  animation: fadeInCard 0.5s ease-in-out;
  /* Add animation here */
}

@keyframes fadeInCard {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}


.game-card:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.7);
}

.game-card img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.game-card-content {
  padding: 1rem;
}

.game-card h2 {
  margin: 0 0 0.5rem 0;
  font-size: 1.25rem;
}

.game-card p {
  margin: 0.5rem 0;
  color: #aaa;
}

/* Modal styles */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.8);
  animation: fadeIn 0.5s ease-in-out;
}

.modal-content {
  background-color: #2c2c2c;
  margin: 10% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
  animation: slideUp 0.5s ease-in-out;
}

@keyframes slideUp {
  from {
    transform: translateY(100%);
  }

  to {
    transform: translateY(0);
  }
}

.modal-content h2 {
  margin-top: 0;
  font-size: 1.5rem;
  color: #fff;
}

.modal-content img {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
  margin-bottom: 1rem;
}

.modal-content p {
  color: #ddd;
  line-height: 1.6;
}

/* Media query for tablets and larger screens */
@media (min-width: 768px) {
  .modal-content {
    width: 60%;
  }
}

/* Media query for desktop screens */
@media (min-width: 1024px) {
  .modal-content {
    width: 40%;
  }
}

/* For WebKit browsers (such as Chrome, Safari) */
::-webkit-scrollbar {
  width: 8px;
  /* Width of the scrollbar */
}

::-webkit-scrollbar-track {
  background: #333;
  /* Track color */
}

::-webkit-scrollbar-thumb {
  background-color: #555;
  /* Thumb color */
  border-radius: 10px;
  /* Rounded corners */
}

::-webkit-scrollbar-thumb:hover {
  background-color: #888;
  /* Thumb color on hover */
}

/* For Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #555 #333;
  /* Thumb and track color */
}

*::-webkit-scrollbar {
  width: 8px;
  /* Width of the scrollbar */
}

*::-webkit-scrollbar-track {
  background: #333;
  /* Track color */
}

*::-webkit-scrollbar-thumb {
  background-color: #555;
  /* Thumb color */
  border-radius: 10px;
  /* Rounded corners */
}

*::-webkit-scrollbar-thumb:hover {
  background-color: #888;
  /* Thumb color on hover */
}